// Upstream WiFi Setup
const char *m_ssid = "your_ssid";
const char *m_password = "**********";

// MQTT Credential
const char *mqtt_server = "your_mqtt_server";
const char *mqtt_username = "yout_mqtt_username";
const char *mqtt_password = "**********";